{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "jsxBracketSameLine": true,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "arrowParens": "always",
  "parser": "typescript"
}